html, body{
  height: 100%;
}
html > body > *:not(button){
  color:white;
}
body{
  background-color: #181A1B;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
table{ 
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
  margin: auto;
}
colgroup, tbody{ 
  border: solid medium;
}
td{
  font-size: 50px;
  border: solid thin;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  padding: 0; 
}
button{
  margin:2.5% auto 2.5% auto;
  font-size: 40px;
  width: 300px;
  height: 100px;
}
.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
